ion-textarea {
  width: calc(100% - 10px);
  height: 12rem;
  margin-top: 1rem;
  margin-left: 0.5rem;
  padding: 0 1rem;
  border: 1px solid #333;
  border-radius: 15px;
  background: transparent;
}
