<ion-header class="blue">
  <ion-toolbar color="transparent">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [ngStyle]="{'background-image': 'url(\'../../assets/godictionary/woman-in-black-shirt-using-macbook-1181571 (1).png\')'}">
  <div >
    <ion-card color="primary">
      <ion-card-content class="ion-text-center">
        <h3>Go Dictionary of Graphic Design, <br />Multimedia & Advertising.</h3>
        <br /><br />
        <small
          >Go Dictionary app is an offline dictionary containing terms and their meanings in graphic design, multimedia and advertising industry.
          <br /><br />This app will benefit the graphic design industry, animators, illustrated, advertisers, printing industry, multimedia industry
          ,schools and interested persons in and outside Ghana. <br />It is imperative for all understudies of graphic design, multimedia ,
          advertising and also related subjects ,as well as those working for the first time in printing, graphic design ,multimedia ,production
          ,multimedia to have a dictionary. Go dictionary is here to serve this purpose. <br /><br />Features of the app includes: <br />•Search a
          word: This feature allows you to search for the word you want and its meaning. <br />• Share:This feature allows you to share a download
          link of the app and words to yours friends <br />• Random: This feature allows you to select words at random <br />• Favorites: this feature
          allows you to store your favorite Words at any time. <br />• Developers: This feature tells you about the developers <br />• Rate us: This
          feature allows you to send your feedbacks, suggestions or comments to the developers. You can also report a problem that may have escaped
          the developers <br />•. Help: This feature gives you guidelines and tips to help you understand how the app works
        </small>
      </ion-card-content>
    </ion-card>
    <div class="ion-text-center" padding>
      <img src="../assets/godictionary/go-logo.svg" />
    </div>
  </div>
</ion-content>
