// main app overrides
ion-toolbar {
  margin: 1rem 0;
}

ion-header.blue {
  background-color: #6e0761;
  background-image: url('../assets/godictionary/image-nav.png');
  background-position: cover;
  background-repeat: no-repeat;
}

ion-header.blue-solid,
ion-footer.blue-solid {
  background-color: #6e0761;
}

ion-header.yellow-solid,
ion-footer.yellow-solid {
  background-color: #c20b5b;
}
ion-header.purple-solid,
ion-footer.purple-solid {
  background-color: #241352;
}

ion-header.yellow {
  background-color: #c20b5b;
  background-image: url('../assets/godictionary/go-nav-bg.svg');
  background-position: -2rem -4rem;
  background-repeat: no-repeat;
}

.header-ios ion-toolbar:last-child {
  --border-width: 0 !important;
}

ion-input.sc-ion-input-md-h.sc-ion-input-md-s.md.hydrated,
ion-input.sc-ion-input-ios-h.sc-ion-input-ios-s.ios.hydrated {
  background: white;
  border-radius: 30rem;
  padding: 0 1rem !important;
  color: #262626;
}

.home-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem;
  ion-icon {
    color: #fff;
    background-color: #fff;
    padding: 0.2rem;
    border-radius: 20rem;
    font-size: 2rem;
    &:first-child {
      background-color: #4500ff;
    }
  }
  span {
    font-size: 2rem;
    margin-left: 0.5rem;
    color: #fff;
  }
}

.list-md {
  padding-top: 0px;
  padding-bottom: 0px;
  background: unset;
}
