<ion-header class="yellow">
  <ion-toolbar color="transparent">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">
      Developers
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="height: 50px;">&nbsp;</div>
  <div class="ion-text-center" style="width: 100%;">
    <img src="../../assets/godictionary/logo-pink.png" alt="" />
  </div>
  <div style="height: 20px;">&nbsp;</div>
  <h2 class="ion-text-center" style="padding: 0; margin: 0;">GO Dictionary of Graphic Design,Multimedia & Advertising.</h2>
  <p class="ion-text-center" style="padding: 0 2rem;">
    A project work presented to the Department of Graphic Design, University of Education, Winneba, Ghana, In partial fulfillment of the
    requirements for the Award of Degree of Bachelor of Arts in Graphic Design.
  </p>
  <div style="height: 100px;">&nbsp;</div>
</ion-content>
