<ion-header class="blue">
  <ion-toolbar color="transparent">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">
      Go Dictionary
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-toolbar color="warning" class="shadow" style="margin: 0;">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="10">
        <ion-input placeholder="Search keyword"></ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-toolbar>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-start">
      <ion-col size="12" (click)="gotoPage('/listdetail/rr')">
        <div class="home-nav">
          <ion-icon name="sync"></ion-icon>
          <span>Random word</span>
        </div>
      </ion-col>
      <ion-col size="12" (click)="gotoPage('/favourites')">
        <div class="home-nav">
          <ion-icon name="star"></ion-icon>
          <span>Favourites</span>
        </div>
      </ion-col>
      <ion-col size="12" (click)="gotoPage('/about')">
        <div class="home-nav">
          <ion-icon name="help"></ion-icon>
          <span>About</span>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
